.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  /* height: 40vmin; */
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* application css */

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  padding: 0 5%;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation ul {
  list-style: none;
  padding: 0;
  color: white;
}

.navigation ul li:hover {
  cursor: pointer;
}

.navigation a {
  text-decoration: none;
}

main {
  display: flex;
  margin-top: 56px;
  max-height: calc(100vh - 56px);
}

.leftContent {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  min-height: 500px;
  align-items: center;
  background-color: #282c34;
  height: calc(100vh - 56px);
}

.leftContent img {
  width: 40%;
}

.leftContent form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  width: 50%;
  height: 200px;
  margin: 50px auto 0 auto;
  background: #333;
  padding: 1.5em;
}

.leftContent form div {
  display: flex;
  flex-direction: column;
}

.leftContent form .formTitle,
.leftContent form .formLabel {
  margin: 0;
  color: white;
}

.leftContent form input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-top: 0.2em;
}

.leftContent form button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #61dafb;
}

.rightContent {
  background: #61dafb;
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: center;
  overflow-y: scroll;
}

.rightContent .linkCard {
}
